<div class="project-gallery" itemscope itemtype="http://schema.org/ImageGallery">
  <div class="frame js_frame">
    <ul class="slides js_slides">
      {% for image in project.images %}
        {% include "_gallery_image.html" %}
      {% endfor %}
    </ul>
  </div>
  <button class="js_prev">Prev</button>
  <button class="js_next">Next</button>
  <div class='project-gallery-nav'>
    {% for image in project.images %}
      <a class="project-gallery-nav-item" href='#' data-loop-index="{{ loop.index - 1 }}">{{loop.index}}</a>
    {% endfor %}
  </div>
</div>
