<div class="project-gallery" itemscope itemtype="http://schema.org/ImageGallery">
  <div class="project-gallery-frame">
      {% for image in project.images %}
        {% include "_gallery_image.html" %}
      {% endfor %}
  </div>
  <div class="project-gallery-nav-meta">
    {% if project.images.length > 1 %}
      <div class="row">
        <div class='project-gallery-nav col s12'>
          {% for image in project.images %}
          <a class="project-gallery-nav-item" href='#' data-loop-index="{{ loop.index }}">{{loop.index}}</a>
          {% endfor %}
        </div>
      </div>
    {% endif %}
  </div>
</div>
