<div class="project-gallery" itemscope itemtype="http://schema.org/ImageGallery">
  <div class="frame js_frame">
    <ul class="slides js_slides">
      {% for image in project.images %}
        {% include "_gallery_image.html" %}
      {% endfor %}
    </ul>
  </div>
  <div class="project-gallery-nav-meta">
    <div class="row">
      <div class="col s3">
        <i class="material-icons js_prev">arrow_back</i>
        <i class="material-icons js_next">arrow_forward</i>
      </div>
      <div class='project-gallery-nav col s9'>
        {% for image in project.images %}
        <a class="project-gallery-nav-item" href='#' data-loop-index="{{ loop.index - 1 }}">{{loop.index}}</a>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
