{% extends "default.html" %}

{% block content %}
	<div class="container">
		<h1><a href="/projects/{{ project.slug }}">{{ project.name }}</a></h1>

    {% for role in project.roles %}
			{% include "_role.html" %}
    {% endfor %}

		<div class='row'>
			{% if project.images.length %}
				<div class='col s12 m6'>
					{% include "_project_gallery.html" %}
				</div>
			{% endif %}
			<div class='col s12 {% if project.images.length %}m6{%else%}m12{%endif%}'>
				{{ project.description.html }}
			</div>
		</div>

	</div>
{% endblock %}
