$color-pale-green = #e6f8da
$color-white      = lighten(desaturate($color-pale-green, 2%), 90%)
$color-dk-teal    = #214762
$color-ruby       = #da374c
$color-gold       = #fcc730
$color-dk-purple  = #58445c
$color-turquoise  = #4bb3ab
$color-lt-blue    = #69d5d1
