
.project-gallery {
  
  .frame {
      /**
       * (optional) wrapper width, specifies width of the slider frame.
       */

      position: relative;
      font-size: 0;
      line-height: 0;
      overflow: hidden;
      white-space: nowrap;
  }

  .slides {
      display: inline-block;
  }

  li {
      position: relative;
      display: inline-block;
      img {
        width: 100%
      }
  }

}
