@import '_colors'

#header {
  // background: lighten($color-lt-blue, 70%);
  background: $color-dk-teal;
}

.site-title {
  padding: 0.5em 0
}

.navbar {
  padding: .3em 0;
  text-align: right;
}

ul.nav.navbar-nav {
  li {
    display: inline-block;
    font-size: 120%;
    margin: 0 3em 0 0;
    padding: .3em;
    // border-radius: .4em;
    &.active a {
      color: $color-gold
    }
  }
  a {
    color: $color-turquoise;
  }
}

.breadcrumb {
  line-height: 18px
}
.breadcrumb:last-child {
  color: $color-dk-teal
}
