.project-mini-role {
  background: #ccc;
  font-size: 20%;
  padding: 0.1em;
  text-indent: -2em;
  border-radius: 2em;
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: middle;
  overflow: hidden;
  margin: .1em;
  transition: all 0.2s ease-out;

  &:hover {
    transition: all 0.1s ease-out;
    font-size: 50%;
  }
}
