@import '_colors'

h1, h2 {
  font-family: 'Lilita One', cursive;
  font-weight: normal

  a {
    &:hover {
      text-decoration: none
    }
  }
}
h3, h4 {
  font-family: 'Asap', serif;
}
body {
  font-family: 'Asap', serif;
}
a {
  color: $color-ruby
}

#header h4 {
  font-family: 'Lilita One', cursive;
}

.stupid {
  // transition: all 0.1s ease-out;
}
